button {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color:  var(--secondary-color);
}

button:active {
    background-color: var(--click-color);
}