<div class="login-page">
  <div class="login-left">
    <div class="login-header">
      <h1>Boletim PRO</h1>
      <p>Bem-vindo de volta. Por favor, insira seus dados.</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email address</label>
        <input id="email" type="email" required formControlName="email" placeholder="you@example.com">
        <div class="error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
          <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</small>
          <small *ngIf="loginForm.get('email')?.errors?.['email']">Email is invalid</small>
        </div>
      </div>

      <div class="form-group">
        <label for="senha">Password</label>
        <input id="senha" required type="password" formControlName="senha" placeholder="••••••">
        <div class="error" *ngIf="loginForm.get('senha')?.touched && loginForm.get('senha')?.invalid">
          <small *ngIf="loginForm.get('senha')?.errors?.['required']">Password is required</small>
          <small *ngIf="loginForm.get('senha')?.errors?.['minlength']">Password must be at least 6 characters</small>
        </div>
      </div>

      <button type="submit">Sign in</button>

    </form>
  </div>

  <div class="login-right">
  </div>
</div>
