.login-page {
    display: flex;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    flex-direction: row-reverse;
}

.login-left {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F4F3F9;
    width: 30%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: 500;
    margin-bottom: 6px;
    display: block;
}

input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #6c63ff;
    outline: none;
}

.error {
    font-size: 12px;
    color: #e74c3c;
    margin-top: 5px;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember input {
    margin-right: 5px;
}


.login-right {
    flex: 1;
    background-image: url('../../../assets/bgLogin.jpg');
    background-repeat: no-repeat;
    background-size: cover;       
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1200px) {
    .login-page {
        flex-direction: column; 
        height: auto;
    }

    .login-left {
        width: 100%; 
        height: 100vh;
        padding: 40px 20px; 
    }

    .login-right {
        display: none; 
    }
}