* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: inherit;
}

:root {
  --primary-color: #2563eb;
  --secondary-color: #002d8d;
  --click-color: #88acfa;
}